# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Micro-level-springcloud\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\TUTO\Micro-level-springcloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
